<a href="https://colab.research.google.com/github/vkuma13/Vicky_Port1/blob/main/Doctors__Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# using the BeautifulSoup for data scarping
import requests
from bs4 import BeautifulSoup
URL = 'https://kmchhospitals.com/doctors-contact-numbers/'
r = requests.get(URL)
soup = BeautifulSoup(r.content,'html5lib')

In [ ]:
# Accessing the data in URL
count=0
Table = soup.find('div',class_ = "single-col" )
# Defining the Dr name and Phone no
Dr_name_html =  Table.find_all('td',attrs={'class':'column-1'})  
Dr_Mobile_html = Table.find_all('td',attrs={'class':'column-2'})
for i in Dr_name_html:
  for j in Dr_Mobile_html:
    #Converting the html to text
    a = i.text
    b = j.text
    c = [" Doctor name is {},Phone no: {}".format(a,b)]
  for k in c:
    count=count+1
  print(count,c)

1 [' Doctor name is Dr. Anandan.M,Phone no: 0422-4323800']
2 [' Doctor name is Dr. Anbukkani Subbian,Phone no: 0422-4323800']
3 [' Doctor name is Dr. Aravindh.S,Phone no: 0422-4323800']
4 [' Doctor name is Dr.Arshad Ahmed ,Phone no: 0422-4323800']
5 [' Doctor name is Dr.Arulraj Ramakrishnan,Phone no: 0422-4323800']
6 [' Doctor name is Dr.Ashwath.D,Phone no: 0422-4323800']
7 [' Doctor name is Dr.Athima Pathak,Phone no: 0422-4323800']
8 [' Doctor name is Dr.Babu Krishnamoorthy,Phone no: 0422-4323800']
9 [' Doctor name is Dr.Bala Krishnan.R,Phone no: 0422-4323800']
10 [' Doctor name is Dr.Balasundaram.S,Phone no: 0422-4323800']
11 [' Doctor name is Dr.Baranikumar.P.B,Phone no: 0422-4323800']
12 [' Doctor name is Dr.Baskar.P (Neuro),Phone no: 0422-4323800']
13 [' Doctor name is Dr.Baskaran.K (Ortho),Phone no: 0422-4323800']
14 [' Doctor name is Dr.Bharath Rangarajan,Phone no: 0422-4323800']
15 [' Doctor name is Dr.Deepak.T.H â€“ Pulmonologist,Phone no: 0422-4323800']
16 [' Doctor name is Dr.Devdas Madhavan,Phone no: 0422-4323800']
17 [' Doctor name is Dr.Dhatchinamoorthi.D,Phone no: 0422-4323800']
18 [' Doctor name is Dr.Dhevasena.C.S,Phone no: 0422-4323800']
19 [' Doctor name is Dr.Dhiwakar.M,Phone no: 0422-4323800']
20 [" Doctor name is Dr.Edmund M. D'Couto,Phone no: 0422-4323800"]
21 [' Doctor name is Dr.Elankumar Subbarayan,Phone no: 0422-4323800']
22 [' Doctor name is DR. EZHIR SELVAN C,Phone no: 0422-4323800']
23 [' Doctor name is Dr.Firoz Rajan,Phone no: 0422-4323800']
24 [' Doctor name is Dr.Ganesan.A,Phone no: 0422-4323800']
25 [' Doctor name is Dr.Ganesan.D (Neuro),Phone no: 0422-4323800']
26 [' Doctor name is Dr.Gunaseelan. K.R.,Phone no: 0422-4323800']
27 [' Doctor name is Dr.Gowrishankar.E.S,Phone no: 0422-4323800']
28 [' Doctor name is Dr.Jayanthi Veerappan,Phone no: 0422-4323800']
29 [' Doctor name is Dr.Jeevankumar.B,Phone no: 0422-4323800']
30 [' Doctor name is Dr.Jivan Chandra. L,Phone no: 0422-4323800']
31 [' Doctor name is Dr.Joseph.K.I,Phone no: 0422-4323800']
32 [' Doctor name is Dr.Jnanesh Thacker,Phone no: 0422-4323800']
33 [' Doctor name is Dr.Kamaleshwaran.K.K,Phone no: 0422-4323800']
34 [' Doctor name is Dr.Kandasamy.S.,Phone no: 0422-4323800']
35 [' Doctor name is Dr.Kannaki Uthraraj.C.V,Phone no: 0422-4323800']
36 [' Doctor name is Dr.Krishnan Swaminathan,Phone no: 0422-4323800']
37 [' Doctor name is Dr.Kuppurajan.N,Phone no: 0422-4323800']
38 [' Doctor name is Dr.Lawrance Jesuraj,Phone no: 0422-4323800']
39 [' Doctor name is Dr.Lenin Babu.V,Phone no: 0422-4323800']
40 [' Doctor name is Dr.Madhusairam.R,Phone no: 0422-4323800']
41 [' Doctor name is Dr.Madhav Venkatesan,Phone no: 0422-4323800']
42 [' Doctor name is Dr.Maheswaran Pitchaimuthu,Phone no: 0422-4323800']
43 [' Doctor name is Dr.Mangala Kumar.V,Phone no: 0422-4323800']
44 [' Doctor name is Dr.Manohar.A,Phone no: 0422-4323800']
45 [' Doctor name is Dr.Manonmani.G,Phone no: 0422-4323800']
46 [' Doctor name is Dr.Minoti.S.Kale,Phone no: 0422-4323800']
47 [' Doctor name is Dr.Mohan.M,Phone no: 0422-4323800']
48 [' Doctor name is Dr.Murugan.A.N,Phone no: 0422-4323800']
49 [' Doctor name is Dr.Naga Kumaran,Phone no: 0422-4323800']
50 [' Doctor name is Dr.Pankaj Mehta,Phone no: 0422-4323800']
51 [' Doctor name is Dr.Paramasivan O.N,Phone no: 0422-4323800']
52 [' Doctor name is Dr.Paari Vijayaragavan,Phone no: 0422-4323800']
53 [' Doctor name is Dr.Parthiban.J.K.B.C,Phone no: 0422-4323800']
54 [' Doctor name is Dr.Pavithra.S,Phone no: 0422-4323800']
55 [' Doctor name is Dr.Pounraju.K,Phone no: 0422-4323800']
56 [' Doctor name is Dr.Pradeep Kumar. M,Phone no: 0422-4323800']
57 [' Doctor name is Dr.Prakash,Phone no: 0422-4323800']
58 [' Doctor name is Dr.Prasanth vaijayanath,Phone no: 0422-4323800']
59 [' Doctor name is Dr. J. Priya Paari,Phone no: 0422-4323800']
60 [' Doctor name is Dr.Rajamani.V,Phone no: 0422-4323800']
61 [' Doctor name is Dr.Rajasekar.T,Phone no: 0422-4323800']
62 [' Doctor name is Dr.Rajendran.K (Anae),Phone no: 0422-4323800']
63 [' Doctor name is Dr.Rajendran.K (Paed),Phone no: 0422-4323800']
64 [' Doctor name is Dr.Rajkumar.K.S.,Phone no: 0422-4323800']
65 [' Doctor name is Dr.Rajesh Shankar Iyer,Phone no: 0422-4323800']
66 [' Doctor name is Dr.Rama Prabhahari,Phone no: 0422-4323800']
67 [' Doctor name is Dr.Ramanathan RM. PL. ,Phone no: 0422-4323800']
68 [' Doctor name is Dr.Ramani Kanth .T.V,Phone no: 0422-4323800']
69 [' Doctor name is Dr.Ramani Kumar .V,Phone no: 0422-4323800']
70 [' Doctor name is Dr.Renukadevi. R,Phone no: 0422-4323800']
71 [' Doctor name is Dr.Rohit Balasubramanian,Phone no: 0422-4323800']
72 [' Doctor name is Dr.Sangita Mehta,Phone no: 0422-4323800']
73 [' Doctor name is Dr.Santha Kumar,Phone no: 0422-4323800']
74 [' Doctor name is Dr.Sara.V.Thomas,Phone no: 0422-4323800']
75 [' Doctor name is Dr.Saravanan.D.M.T,Phone no: 0422-4323800']
76 [' Doctor name is Dr.Sathesh Kumar.T,Phone no: 0422-4323800']
77 [' Doctor name is Dr.Selvarajan.N -,Phone no: 0422-4323800']
78 [' Doctor name is Dr.SenthilKumar.E,Phone no: 0422-4323800']
79 [' Doctor name is Dr.Shankar Dhandapani,Phone no: 0422-4323800']
80 [' Doctor name is Dr.Sharavanan.G.M,Phone no: 0422-4323800']
81 [' Doctor name is Dr.Sivagnanam .T.R,Phone no: 0422-4323800']
82 [' Doctor name is Dr.Sivakumar.M.K,Phone no: 0422-4323800']
83 [' Doctor name is Dr.Smitha Ashok,Phone no: 0422-4323800']
84 [' Doctor name is Dr.Sreedharan Namboothiri,Phone no: 0422-4323800']
85 [' Doctor name is Dr.Srinivas.A.R,Phone no: 0422-4323800']
86 [' Doctor name is Dr.Srinivasan.D,Phone no: 0422-4323800']
87 [' Doctor name is Dr. R. Srinidhi Nithyanand,Phone no: 0422-4323800']
88 [' Doctor name is Dr.Subash Kale,Phone no: 0422-4323800']
89 [' Doctor name is Dr.Subramaniam.R,Phone no: 0422-4323800']
90 [' Doctor name is Dr.Sujatha Chinnappan,Phone no: 0422-4323800']
91 [' Doctor name is Dr.Sumathi,Phone no: 0422-4323800']
92 [' Doctor name is Dr.Suresh Jayabalan,Phone no: 0422-4323800']
93 [' Doctor name is Dr.Suresh Kumar.R,Phone no: 0422-4323800']
94 [' Doctor name is Dr.Thennavan.A.S.,Phone no: 0422-4323800']
95 [' Doctor name is Dr.Thirumalaisamy.S.G.,Phone no: 0422-4323800']
96 [' Doctor name is Dr.Thomas Alexander,Phone no: 0422-4323800']
97 [' Doctor name is Dr.Thomas.K.Abraham,Phone no: 0422-4323800']
98 [' Doctor name is Dr.Varun Sundaramoorthy,Phone no: 0422-4323800']
99 [' Doctor name is Dr.Velam Thennavan,Phone no: 0422-4323800']
100 [' Doctor name is Dr.Venkatesh.K,Phone no: 0422-4323800']
101 [' Doctor name is Dr.Venugopal.J,Phone no: 0422-4323800']
102 [' Doctor name is Dr.Vidhya Rajeev Jahagirdar,Phone no: 0422-4323800']
103 [' Doctor name is Dr.Vignesh Kandhakumar,Phone no: 0422-4323800']
104 [' Doctor name is Dr.Vijay Anand.N,Phone no: 0422-4323800']
105 [' Doctor name is Dr.Vikraman . G,Phone no: 0422-4323800']
106 [' Doctor name is Dr.Vivek Pathak,Phone no: 0422-4323800']
107 [' Doctor name is Dr.K. Sibi Thooran,Phone no: 0422-4323800']

##  Getting the Data from the PDF and CSV

Requirement already satisfied: tabula-py in /usr/local/lib/python3.7/dist-packages (2.3.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.19.5)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.1.5)
Requirement already satisfied: distro in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.6.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)

[   Unnamed: 0           Unnamed: 1  ... Unnamed: 4        Unnamed: 5
 0         SL.  NAME OF THE OFFICE/  ...        NaN               NaN
 1         NaN                  NaN  ...        NaN         PHONE NO.
 2         NO.          INSTITUTION  ...        NaN               NaN
 3         NaN                  NaN  ...        NaN               NaN
 4         NaN                  NaN  ...        NaN          RESIDENC
 ..        ...                  ...  ...        ...               ...
 61        NaN      GH, CHIDAMBARAM  ...        NaN               NaN
 62        NaN                  NaN  ...        NaN               NaN
 63        NaN                  NaN  ...     223099    NIL 9443988632
 64        NaN                  NaN  ...        NaN               NaN
 65        NaN                  NaN  ...     230326  262679 944336279

 [66 rows x 7 columns]]

   Unnamed: 0           Unnamed: 1  ... Unnamed: 4        Unnamed: 5
0         SL.  NAME OF THE OFFICE/  ...        NaN               NaN
1         NaN                  NaN  ...        NaN         PHONE NO.
2         NO.          INSTITUTION  ...        NaN               NaN
3         NaN                  NaN  ...        NaN               NaN
4         NaN                  NaN  ...        NaN          RESIDENC
..        ...                  ...  ...        ...               ...
61        NaN      GH, CHIDAMBARAM  ...        NaN               NaN
62        NaN                  NaN  ...        NaN               NaN
63        NaN                  NaN  ...     223099    NIL 9443988632
64        NaN                  NaN  ...        NaN               NaN
65        NaN                  NaN  ...     230326  262679 944336279

[66 rows x 7 columns]

<bound method NDFrame.describe of     Unnamed: 0 Unnamed: 0.1  ... Unnamed: 4        Unnamed: 5
0            0          SL.  ...        NaN               NaN
1            1          NaN  ...        NaN         PHONE NO.
2            2          NO.  ...        NaN               NaN
3            3          NaN  ...        NaN               NaN
4            4          NaN  ...        NaN          RESIDENC
..         ...          ...  ...        ...               ...
61          61          NaN  ...        NaN               NaN
62          62          NaN  ...        NaN               NaN
63          63          NaN  ...     223099    NIL 9443988632
64          64          NaN  ...        NaN               NaN
65          65          NaN  ...     230326  262679 944336279

[66 rows x 8 columns]>